

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   /*box-shadow: inset -10px 0 35px rgb(33, 167, 15);*/
   
}

body{
   background-color: #121212;
   color: #fff;
 
   overflow-x: hidden;
    
}