.cta-glass {
  background: rgba(24, 25, 26, 0.641);
  border-radius: 1.5rem;
  box-shadow: 0 8px 32px rgba(0,0,0,0.35);
  border: 1.5px solid rgba(255,255,255,0.18);
  backdrop-filter: blur(6px);
  padding: 1.5rem;
 /* z-index: 2; */
  position: absolute;
  color:white;
  top: 40px;
  width: 50%;
}
.cta-glass:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 80px rgba(0, 242, 255, 0.2);
    border-color: rgba(0, 255, 221, 0.5);
}
.cta-glass h2 {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    background: linear-gradient(135deg, #7FFFD4 0%, #ffffff  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 20px rgba(0, 242, 255, 0.3);
}
.btnReg{
   border-radius: 25px; 
    padding: 0.8rem 1.6rem;
    background: linear-gradient(135deg, #7FFFD4	 0%, #20B2AA 100%);
    color: #000000;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 221, 255, 0.3);
}
.btnReg:hover {
    background: linear-gradient(135deg, #20B2AA 0%, #7FFFD4 100%);
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(0, 255, 234, 0.4);
}